// can work very well from width of 450px to 1500px

:root{
    /* declaring variables */
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 5px 15px rgba(0,0,0,.3);
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
}

@media screen and (min-width: 1100px){
    .portfolio{
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media screen and (max-width:800px){
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            margin: 5rem 0 0 0;
            .about-item{
                    padding-left: 3rem;
            }
        }
    }

    .portfolio{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .blogs{
        padding-left: 4rem;
        padding-right: 4rem;
        .blog-items{
            .blog{
                max-height: fit-content;
                img{
                    height: 270px;
                }
                .blog-content{
                    height: 195px;
                }
            }
        }
    }

    .contacts{
        padding-left: 7rem;
        .contact-container{
            .contact-sub-container{
                grid-template-columns: 1fr;
                .right-contact{
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width:750px){
    .header{
        padding-left: 5rem;
        .right-content{
            padding-left: 6rem;
            .about-item{
                padding-left: 2rem;
            }
        }
    }

    .portfolio{
        padding-left: 3rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
        .portfolio-items{
            grid-template-columns: 1fr 1fr;
            row-gap: 3rem;
        }
    }

    .blogs{
        .blog-items{
            .blog{
                .blog-content{
                    height: 190px;
                }
            }
        }
    }
}

@media screen and (max-width:650px){
    .controls{
        top: auto;
        bottom: 0;
        left:50%;
        right: 50%;
        padding: 0.5rem 0;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 0.5rem 0 0;
        width: 100%;
        background-color: var(--color-primary);
        .control{
            margin: 0 0.8rem 0 0;
            height: 40px;
            width: 40px;
            i{
                font-size: 1.4rem;
            }
        }
    }

    .theme-btn{
        height: 50px;
        width: 50px;
        i{
            font-size: 2.3rem;
        }
    }

    //header
    .header{
        padding-left: 3rem;
        padding-right: 2.5rem;
    }
    .header-content{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;
        padding: 2rem 0 4rem 0;
        .left-content{
            .shape{
                display: none;
            }
            .image{
                width: 90%;;
            }
        }
        .right-content{
            grid-row: 1;
            padding: 0;
            display: flex;
            justify-content: center;
            p{
                line-height: 25px;
            }
        }
    }

    //about
    .about{
        padding-left: 3rem;
        padding-right: 5rem;
        .about-container{
            padding-left: 3rem;
            .left-about{
                padding: 0 2rem 0 0;
            }
            .right-about{
                padding-right: 2rem;
            }
        }
        .about-stats{
            padding-left: 5rem;
            margin-bottom: 0;
            .progress-bars{
                grid-template-columns: 1fr;
                padding-top: 0;
            }
        }
        .about-timeline{
            padding-left: 7rem;
            .timeline-items{
                grid-template-columns: 1fr;
                row-gap: 2rem;
            }
        }
    }

    //portfolio
    .portfolio{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 7rem;
        .portfolio-items{
            grid-template-columns: 1fr 1fr;
            row-gap: 3rem;
        }
    }

    //blogs
    .blogs{
        padding-left: 7rem;
        padding-right: 5rem;
        .blog-items{
            grid-template-columns: 1fr;
            .blog{
                .blog-content{
                    height: fit-content;
                }
            }
        }
    }

    //contact me
    .contacts{
        padding: 1rem 6rem 8rem 6rem;
        .contact-container{
            margin-top: 3rem;
            padding-top: 3rem;
            .contact-sub-container{
                display: grid;
                grid-template-columns: 1fr;
                .left-contact{
                    .contact-icons{
                        margin-top: 5rem;
                    }
                }
                .right-contact{
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width:550px){
    .about{
        .about-container{
            .right-about{
                grid-template-columns: 1fr;
                .about-item{
                    .small-txt::before{
                        right: 100%;
                    }
                }
            }
        }
    }

    .portfolio{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 7rem;
        .portfolio-items{
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }
    }

    .blogs{
        padding-left: 4rem;
        padding-right: 2rem;
        padding-bottom: 7rem;
        .blog-items{
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width:500px){
    .header{
        .right-content{
            padding-left: 5rem;
        }
    }

}



